body {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQCBfs_IbOngAtOe3t0obxsAIMq6nM_UC4TXQ5kGoLuMmaKBj4zJQ");
  background-size: 1600px 1500px;
  background-position: center center;
  font-family: 'Papyrus' , fantasy;

}

header, nav {
  text-align: center;
  background: white;
  margin: 20px 0;
  padding: 10px;
}

nav a {
  text-decoration: none;
  background: #333;
  border-radius: 5px;
  color: white;
  padding: 3px 8px;
}